<tr class="nested-fields">
  <td class="field">
    <%= f.text_field :description %>
  </td>
  <td class="field">
    <%= f.text_field :unit %>
  </td>
  <td class="field">
    <%= f.text_field :price %>
  </td>
  <td>
  </td>
  <td>
    <%= link_to_remove_association "remove item", f %>
  </td>
</div>
